*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 150%;
  color: black;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

html,
body {
  overflow-x: hidden;
}

button {
  cursor: pointer;
}
